/* Make table text wrap on mobile */
td, th {
    word-wrap: break-word;
    white-space: normal;
  }
  
  /* Ensure buttons have consistent styling */
  /* .button {
    font-weight: normal;
  }

  .button {
    padding: 0.5rem 1rem;  /* Consistent padding for all buttons */
  } */