table {
    table-layout: auto;    /* Lets table size based on content */
}

td, th {
    padding: 0.2rem;
    line-height: 1;
    text-align: left;  
}

button, input[type="submit"] {
    font-weight: normal;
}